*{
	box-sizing: border-box;
}
select{
	color: #FF7F50;
	-webkit-appearance: none;
	border-radius: 0;
}
button{
	font-size: 30px;
border-radius: 20px;
	background-color: rgba(200,200,200, 0.1);
	bottom: 100px;
	color: #ff0000;
	text-transform: uppercase;
	padding: 20px;
margin-left: 300px;
	width: 35%;
	border-color: #ff0000;
	margin-top: 100px;
	&:hover{
		background:linear-gradient(rgba(255,196,20,.3),rgba(100,100,100,.3));
		color:#fff;
	}

}

.container{
	position: relative;
	min-height: 100vh;
	background:url(../../images/Mars_atmosphere.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	article{
		width: 70%;
		position: relative;
		p{
			color: #fff;
			letter-spacing: 3px;
			top: 16px;
			font-weight: 100;
			}
	}
}
.title{
		color:#1E90FF;
		text-transform: uppercase;
		font-family: sans-serif;
		font-weight: 800;
		font-size: 80px;
	padding-top: 70px;
	p{
		color: #fff;
		font-size: 1rem;
text-align: center;
margin-bottom: 30px;
margin-top: 5px;

	}
}
input[type='text'],
	input[type='number'], select{
	border-radius:10px;
	width: 100%;
	font-size: 20px;
color: #00008B;
padding: 15px;
	background-color: transparent;
 	text-transform: uppercase;
	letter-spacing:3px;
	margin-bottom: 30px;


}
::-webkit-input-placeholder {
	color:#FF7F50;
 }
