

html, body {
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 18px;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}

.welcome-page {height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: url(../app/shared/images/Mars_atmosphere_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ng-binding{ padding-top: 50px;
  color: white;
  text-align: center;
}
.report-page footer, .welcome-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.welcome-page .enter-button a {
    display: block;
}

:hov.cls element.style {
}
.welcome-page .enter-button a {
    display: block;
    width: 75px;
    height: 75px;
    background: rgba(237,237,237,.2);
    opacity: .2;
    border-radius: 50%;
    -webkit-animation: border-pulse 2s infinite;
    animation: border-pulse 2s infinite;
}
.welcome-page .enter-button a {
    display: block;
}
div .enter-button{ width: 75px;
height: 75px;}
.enter-button a {align-items: center;
    display: block;
    width: 75px;
    height: 75px;
    background: rgba(237,237,237,.2);
    opacity: .2;
    border-radius: 50%;
    -webkit-animation: border-pulse 2s infinite;
    animation: border-pulse 2s infinite;
}
.welcome-page h2 {
    text-align: center;
}
h1, h2, h3 {
    color: #fff;
    font-weight: 100;
}
border-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .1), 0 0 0 2rem rgba(255, 255, 255, .15), 0 0 0 3rem rgba(255, 255, 255, .2)
  }
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255, 255, 255, .1), 0 0 0 2.75rem rgba(255, 255, 255, .1), 0 0 0 4rem rgba(255, 255, 255, 0)
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, .1), 0 0 0 3rem rgba(255, 255, 255, 0), 0 0 0 5rem rgba(255, 255, 255, 0)
  }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0), 0 0 0 3.75rem rgba(255, 255, 255, 0), 0 0 0 6rem rgba(255, 255, 255, 0)
  }
}
@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .1), 0 0 0 2rem rgba(255, 255, 255, .15), 0 0 0 3rem rgba(255, 255, 255, .2)
  }
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255, 255, 255, .1), 0 0 0 2.75rem rgba(255, 255, 255, .1), 0 0 0 4rem rgba(255, 255, 255, 0)
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, .1), 0 0 0 3rem rgba(255, 255, 255, 0), 0 0 0 5rem rgba(255, 255, 255, 0)
  }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0), 0 0 0 3.75rem rgba(255, 255, 255, 0), 0 0 0 6rem rgba(255, 255, 255, 0)
  }
}
@-webkit-keyframes invalid-input {
  0% {
    box-shadow: 0 0 0 0 #ed4343
  }
  100% {
    box-shadow: 0 0 0 .5rem rgba(237, 67, 67, .2)
  }
}
@keyframes invalid-input {
  0% {
    box-shadow: 0 0 0 0 #ed4343
  }
  100% {
    box-shadow: 0 0 0 .5rem rgba(237, 67, 67, .2)
  }
}
